<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Új macska</title>
</head>
<body>

  <form method="POST">
  <p>
      Súly: <input type="number" name="suly" required>
  </p>
  <p>
    Szem szín: <input type="text" name="szem_szin" max="100" min="0" required>
</p>
  
  <p>
      <input type="submit" value="Új macska">
  </p>

  </form>

  <a href="/">Főoldal</a>
  
</body>
</html>
